<!-- Footer Section Start -->
<footer class="footer-sm">
    <div class="container-fluid-xs">
        <div class="sub-footer">
            <div class="reserve">
                <h6 class="text-content">راست چین و فارسی سازی شده توسط : <b>فارس کد</b></h6>
            </div>

            <div class="payment">
                <img src="/siteAssets/images/payment/1.png" class="blur-up lazyload" alt="">
            </div>
        </div>
    </div>
</footer>
<!-- Footer Section End -->
<!-- Tap to top start -->
<div class="back-to-top">
    <a id="back-to-top" href="#">
        <i class="fas fa-chevron-up"></i>
    </a>
</div>
<!-- Tap to top end -->