@{
    ViewData["Title"] = "Home Page";
}

<section class="product-section pt-0">
    <div class="container-fluid p-0">
        <div class="custom-row">

            @await Component.InvokeAsync("MainSite_SidebarMenu")

            <div class="content-col">
                @await Component.InvokeAsync("MainSite_Banner")

                @await Component.InvokeAsync("MainSite_SectionTitle", new { title = "محصولات پرفروش", description = "یک دستیار مجازی محصولات را از لیست شما جمع آوری می کند" })

                @await Component.InvokeAsync("MainSite_Product")

                @await Component.InvokeAsync("MainSite_SectionTitle", new { title = "تازه ترین محصولات", description = "یک دستیار مجازی محصولات را از لیست شما جمع آوری می کند" })
               
                @await Component.InvokeAsync("MainSite_Product")

            </div>
        </div>
    </div>
</section>
<!-- Product Section End -->
