@{
    ViewData["Title"] = "Home Page";
}

 <section class="product-section pt-0">
    <div class="container-fluid p-0">
        <div class="custom-row">
            <div class="sidebar-col">
                <div class="category-menu">
                    <a href="index.html" class="web-logo nav-logo">
                        <img src="/siteAssets/images/logo/5.png" class="img-fluid blur-up lazyload" alt="">
                    </a>
                    <ul>
                        <li>
                            <div class="category-list">
                                <img src="/siteAssets/svg/1/vegetable.svg" class="blur-up lazyload" alt="">
                                <h5>
                                    <a href="shop-left-sidebar.html">میوه و سبزیجات</a>
                                </h5>
                            </div>
                        </li>
                        <li>
                            <div class="category-list">
                                <img src="/siteAssets/svg/1/cup.svg" class="blur-up lazyload" alt="">
                                <h5>
                                    <a href="shop-left-sidebar.html">نوشیدنی ها</a>
                                </h5>
                            </div>
                        </li>
                        <li>
                            <div class="category-list">
                                <img src="/siteAssets/svg/1/meats.svg" class="blur-up lazyload" alt="">
                                <h5>
                                    <a href="shop-left-sidebar.html">گوشت و غذاهای دریایی</a>
                                </h5>
                            </div>
                        </li>
                        <li>
                            <div class="category-list">
                                <img src="/siteAssets/svg/1/breakfast.svg" class="blur-up lazyload" alt="">
                                <h5>
                                    <a href="shop-left-sidebar.html">صبحانه و لبنیات</a>
                                </h5>
                            </div>
                        </li>
                        <li>
                            <div class="category-list">
                                <img src="/siteAssets/svg/1/frozen.svg" class="blur-up lazyload" alt="">
                                <h5>
                                    <a href="shop-left-sidebar.html">غذای یخ زده</a>
                                </h5>
                            </div>
                        </li>
                        <li>
                            <div class="category-list">
                                <img src="/siteAssets/svg/1/biscuit.svg" class="blur-up lazyload" alt="">
                                <h5>
                                    <a href="shop-left-sidebar.html">بیسکویت و تنقلات</a>
                                </h5>
                            </div>
                        </li>
                        <li>
                            <div class="category-list">
                                <img src="/siteAssets/svg/1/grocery.svg" class="blur-up lazyload" alt="">
                                <h5>
                                    <a href="shop-left-sidebar.html">مواد غذایی</a>
                                </h5>
                            </div>
                        </li>
                        <li>
                            <div class="category-list">
                                <img src="/siteAssets/svg/1/drink.svg" class="blur-up lazyload" alt="">
                                <h5>
                                    <a href="shop-left-sidebar.html">نوشیدنی های</a>
                                </h5>
                            </div>
                        </li>
                        <li>
                            <div class="category-list">
                                <img src="/siteAssets/svg/1/milk.svg" class="blur-up lazyload" alt="">
                                <h5>
                                    <a href="shop-left-sidebar.html">شیر و لبنیات</a>
                                </h5>
                            </div>
                        </li>
                        <li>
                            <div class="category-list">
                                <img src="/siteAssets/svg/1/pet.svg" class="blur-up lazyload" alt="">
                                <h5>
                                    <a href="shop-left-sidebar.html">غذاهای حیوانات خانگی</a>
                                </h5>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="content-col">
                <div class="section-b-space">
                    <div class="row g-md-4 g-3">
                        <div class="col-xxl-8 col-xl-12 col-md-7">
                            <div class="banner-contain hover-effect">
                                <img src="/siteAssets/images/grocery/banner/11.jpg" class="bg-img blur-up lazyload"
                                     alt="">
                                <div class="banner-details p-center-left p-sm-5 p-4">
                                    <div>
                                        <h2 class="text-kaushan fw-normal orange-color">آماده شوید</h2>
                                        <h3 class="mt-2 mb-3 text-white">نگاهی به روز!</h3>
                                        <p class="text-content banner-text text-white opacity-75 d-md-block d-none">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</p>
                                        <button onclick="location.href = 'shop-left-sidebar.html';"
                                                class="btn btn-animation btn-sm mend-auto">
                                            خرید آنلاین <i class="fa-solid fa-arrow-left icon"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xxl-4 col-xl-12 col-md-5">
                            <div class="banner-contain hover-effect h-100">
                                <img src="/siteAssets/images/grocery/banner/12.jpg" class="bg-img blur-up lazyload"
                                     alt="">
                                <div class="banner-details p-center-left p-4 h-100">
                                    <div>
                                        <h2 class="text-kaushan fw-normal orange-color">اورگانیک</h2>
                                        <h3 class="mt-2 mb-3">تازه</h3>
                                        <p class="text-content banner-text w-100">
                                            پیشنهاد فوق العاده تا 50%
                                            تخفیف
                                        </p>
                                        <button onclick="location.href = 'shop-left-sidebar.html';"
                                                class="btn btn-animation btn-sm mend-auto">
                                            خرید آنلاین <i class="fa-solid fa-arrow-left icon"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="title d-block">
                    <h2 class="text-theme font-sm">محصولات جدید</h2>
                    <p>یک دستیار مجازی محصولات را از لیست شما جمع آوری می کند</p>
                </div>

                <div class="row row-cols-xxl-6 row-cols-lg-5 row-cols-md-4 row-cols-sm-3 row-cols-2 g-sm-4 g-3 section-b-space">
                    <div>
                        <div class="product-box product-white-bg wow fadeIn">
                            <div class="product-image">
                                <a href="product-left-thumbnail.html">
                                    <img src="/siteAssets/images/cake/product/1.png"
                                         class="img-fluid blur-up lazyload" alt="">
                                </a>
                                <ul class="product-option">
                                    <li data-bs-toggle="tooltip" data-bs-placement="top" title="نمایش">
                                        <a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#view">
                                            <i data-feather="eye"></i>
                                        </a>
                                    </li>

                                    <li data-bs-toggle="tooltip" data-bs-placement="top" title="مقایسه">
                                        <a href="compare.html">
                                            <i data-feather="refresh-cw"></i>
                                        </a>
                                    </li>

                                    <li data-bs-toggle="tooltip" data-bs-placement="top" title="علاقه‌مندی ها">
                                        <a href="wishlist.html" class="notifi-wishlist">
                                            <i data-feather="heart"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="product-detail position-relative">
                                <a href="product-left-thumbnail.html">
                                    <h6 class="name">
                                        نان سبوس دار کلوچه و تاف 400 گرم
                                    </h6>
                                </a>

                                <h6 class="sold weight text-content fw-normal">1 کیلو گرم</h6>

                                <h6 class="price theme-color">80.000 تومان</h6>

                                <div class="add-to-cart-btn-2 addtocart_btn">
                                    <button class="btn addcart-button btn buy-button">
                                        <i class="fa-solid fa-plus"></i>
                                    </button>
                                    <div class="cart_qty qty-box-2 qty-box-3">
                                        <div class="input-group">
                                            <button type="button" class="qty-left-minus" data-type="minus"
                                                    data-field="">
                                                <i class="fa fa-minus" aria-hidden="true"></i>
                                            </button>
                                            <input class="form-control input-number qty-input" type="text"
                                                   name="quantity" value="0">
                                            <button type="button" class="qty-right-plus" data-type="plus"
                                                    data-field="">
                                                <i class="fa fa-plus" aria-hidden="true"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="product-box product-white-bg wow fadeIn" data-wow-delay="0.1s">
                            <div class="product-image">
                                <a href="product-left-thumbnail.html">
                                    <img src="/siteAssets/images/cake/product/2.png"
                                         class="img-fluid blur-up lazyload" alt="">
                                </a>
                                <ul class="product-option">
                                    <li data-bs-toggle="tooltip" data-bs-placement="top" title="نمایش">
                                        <a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#view">
                                            <i data-feather="eye"></i>
                                        </a>
                                    </li>

                                    <li data-bs-toggle="tooltip" data-bs-placement="top" title="مقایسه">
                                        <a href="compare.html">
                                            <i data-feather="refresh-cw"></i>
                                        </a>
                                    </li>

                                    <li data-bs-toggle="tooltip" data-bs-placement="top" title="علاقه‌مندی ها">
                                        <a href="wishlist.html" class="notifi-wishlist">
                                            <i data-feather="heart"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="product-detail position-relative">
                                <a href="product-left-thumbnail.html">
                                    <h6 class="name">
                                        آرد نان و شیرینی تازه 200 گرم
                                    </h6>
                                </a>

                                <h6 class="sold weight text-content fw-normal">1 کیلو گرم</h6>

                                <h6 class="price theme-color">80.000 تومان</h6>

                                <div class="add-to-cart-btn-2 addtocart_btn">
                                    <button class="btn addcart-button btn buy-button">
                                        <i class="fa-solid fa-plus"></i>
                                    </button>
                                    <div class="cart_qty qty-box-2 qty-box-3">
                                        <div class="input-group">
                                            <button type="button" class="qty-left-minus" data-type="minus"
                                                    data-field="">
                                                <i class="fa fa-minus" aria-hidden="true"></i>
                                            </button>
                                            <input class="form-control input-number qty-input" type="text"
                                                   name="quantity" value="0">
                                            <button type="button" class="qty-right-plus" data-type="plus"
                                                    data-field="">
                                                <i class="fa fa-plus" aria-hidden="true"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="product-box product-white-bg wow fadeIn">
                            <div class="product-image">
                                <a href="product-left-thumbnail.html">
                                    <img src="/siteAssets/images/cake/product/3.png"
                                         class="img-fluid blur-up lazyload" alt="">
                                </a>
                                <ul class="product-option">
                                    <li data-bs-toggle="tooltip" data-bs-placement="top" title="نمایش">
                                        <a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#view">
                                            <i data-feather="eye"></i>
                                        </a>
                                    </li>

                                    <li data-bs-toggle="tooltip" data-bs-placement="top" title="مقایسه">
                                        <a href="compare.html">
                                            <i data-feather="refresh-cw"></i>
                                        </a>
                                    </li>

                                    <li data-bs-toggle="tooltip" data-bs-placement="top" title="علاقه‌مندی ها">
                                        <a href="wishlist.html" class="notifi-wishlist">
                                            <i data-feather="heart"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="product-detail position-relative">
                                <a href="product-left-thumbnail.html">
                                    <h6 class="name">
                                        بیسکویت کره بادام زمینی پرمیوم کره 600 گرم
                                    </h6>
                                </a>

                                <h6 class="sold weight text-content fw-normal">1 کیلو گرم</h6>

                                <h6 class="price theme-color">80.000 تومان</h6>

                                <div class="add-to-cart-btn-2 addtocart_btn">
                                    <button class="btn addcart-button btn buy-button">
                                        <i class="fa-solid fa-plus"></i>
                                    </button>
                                    <div class="cart_qty qty-box-2 qty-box-3">
                                        <div class="input-group">
                                            <button type="button" class="qty-left-minus" data-type="minus"
                                                    data-field="">
                                                <i class="fa fa-minus" aria-hidden="true"></i>
                                            </button>
                                            <input class="form-control input-number qty-input" type="text"
                                                   name="quantity" value="0">
                                            <button type="button" class="qty-right-plus" data-type="plus"
                                                    data-field="">
                                                <i class="fa fa-plus" aria-hidden="true"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="product-box product-white-bg wow fadeIn" data-wow-delay="0.1s">
                            <div class="product-image">
                                <a href="product-left-thumbnail.html">
                                    <img src="/siteAssets/images/cake/product/4.png"
                                         class="img-fluid blur-up lazyload" alt="">
                                </a>
                                <ul class="product-option">
                                    <li data-bs-toggle="tooltip" data-bs-placement="top" title="نمایش">
                                        <a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#view">
                                            <i data-feather="eye"></i>
                                        </a>
                                    </li>

                                    <li data-bs-toggle="tooltip" data-bs-placement="top" title="مقایسه">
                                        <a href="compare.html">
                                            <i data-feather="refresh-cw"></i>
                                        </a>
                                    </li>

                                    <li data-bs-toggle="tooltip" data-bs-placement="top" title="علاقه‌مندی ها">
                                        <a href="wishlist.html" class="notifi-wishlist">
                                            <i data-feather="heart"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="product-detail position-relative">
                                <a href="product-left-thumbnail.html">
                                    <h6 class="name">
                                        بسته ترکیبی از جوار استیک و چیپس جوار
                                    </h6>
                                </a>

                                <h6 class="sold weight text-content fw-normal">1 کیلو گرم</h6>

                                <h6 class="price theme-color">80.000 تومان</h6>

                                <div class="add-to-cart-btn-2 addtocart_btn">
                                    <button class="btn addcart-button btn buy-button">
                                        <i class="fa-solid fa-plus"></i>
                                    </button>
                                    <div class="cart_qty qty-box-2 qty-box-3">
                                        <div class="input-group">
                                            <button type="button" class="qty-left-minus" data-type="minus"
                                                    data-field="">
                                                <i class="fa fa-minus" aria-hidden="true"></i>
                                            </button>
                                            <input class="form-control input-number qty-input" type="text"
                                                   name="quantity" value="0">
                                            <button type="button" class="qty-right-plus" data-type="plus"
                                                    data-field="">
                                                <i class="fa fa-plus" aria-hidden="true"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="product-box product-white-bg wow fadeIn">
                            <div class="product-image">
                                <a href="product-left-thumbnail.html">
                                    <img src="/siteAssets/images/cake/product/5.png"
                                         class="img-fluid blur-up lazyload" alt="">
                                </a>
                                <ul class="product-option">
                                    <li data-bs-toggle="tooltip" data-bs-placement="top" title="نمایش">
                                        <a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#view">
                                            <i data-feather="eye"></i>
                                        </a>
                                    </li>

                                    <li data-bs-toggle="tooltip" data-bs-placement="top" title="مقایسه">
                                        <a href="compare.html">
                                            <i data-feather="refresh-cw"></i>
                                        </a>
                                    </li>

                                    <li data-bs-toggle="tooltip" data-bs-placement="top" title="علاقه‌مندی ها">
                                        <a href="wishlist.html" class="notifi-wishlist">
                                            <i data-feather="heart"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="product-detail position-relative">
                                <a href="product-left-thumbnail.html">
                                    <h6 class="name">
                                        چیپس سیب زمینی پاشیده چیلی یومیتوس 100 گرم
                                    </h6>
                                </a>

                                <h6 class="sold weight text-content fw-normal">1 کیلو گرم</h6>

                                <h6 class="price theme-color">80.000 تومان</h6>

                                <div class="add-to-cart-btn-2 addtocart_btn">
                                    <button class="btn addcart-button btn buy-button">
                                        <i class="fa-solid fa-plus"></i>
                                    </button>
                                    <div class="cart_qty qty-box-2 qty-box-3">
                                        <div class="input-group">
                                            <button type="button" class="qty-left-minus" data-type="minus"
                                                    data-field="">
                                                <i class="fa fa-minus" aria-hidden="true"></i>
                                            </button>
                                            <input class="form-control input-number qty-input" type="text"
                                                   name="quantity" value="0">
                                            <button type="button" class="qty-right-plus" data-type="plus"
                                                    data-field="">
                                                <i class="fa fa-plus" aria-hidden="true"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="product-box product-white-bg wow fadeIn" data-wow-delay="0.1s">
                            <div class="product-image">
                                <a href="product-left-thumbnail.html">
                                    <img src="/siteAssets/images/cake/product/6.png"
                                         class="img-fluid blur-up lazyload" alt="">
                                </a>
                                <ul class="product-option">
                                    <li data-bs-toggle="tooltip" data-bs-placement="top" title="نمایش">
                                        <a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#view">
                                            <i data-feather="eye"></i>
                                        </a>
                                    </li>

                                    <li data-bs-toggle="tooltip" data-bs-placement="top" title="مقایسه">
                                        <a href="compare.html">
                                            <i data-feather="refresh-cw"></i>
                                        </a>
                                    </li>

                                    <li data-bs-toggle="tooltip" data-bs-placement="top" title="علاقه‌مندی ها">
                                        <a href="wishlist.html" class="notifi-wishlist">
                                            <i data-feather="heart"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="product-detail position-relative">
                                <a href="product-left-thumbnail.html">
                                    <h6 class="name">
                                        کوکی های ترد فانتزی شکلات چیپ
                                    </h6>
                                </a>

                                <h6 class="sold weight text-content fw-normal">1 کیلو گرم</h6>

                                <h6 class="price theme-color">80.000 تومان</h6>

                                <div class="add-to-cart-btn-2 addtocart_btn">
                                    <button class="btn addcart-button btn buy-button">
                                        <i class="fa-solid fa-plus"></i>
                                    </button>
                                    <div class="cart_qty qty-box-2 qty-box-3">
                                        <div class="input-group">
                                            <button type="button" class="qty-left-minus" data-type="minus"
                                                    data-field="">
                                                <i class="fa fa-minus" aria-hidden="true"></i>
                                            </button>
                                            <input class="form-control input-number qty-input" type="text"
                                                   name="quantity" value="0">
                                            <button type="button" class="qty-right-plus" data-type="plus"
                                                    data-field="">
                                                <i class="fa fa-plus" aria-hidden="true"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="product-box product-white-bg wow fadeIn">
                            <div class="product-image">
                                <a href="product-left-thumbnail.html">
                                    <img src="/siteAssets/images/cake/product/7.png"
                                         class="img-fluid blur-up lazyload" alt="">
                                </a>
                                <ul class="product-option">
                                    <li data-bs-toggle="tooltip" data-bs-placement="top" title="نمایش">
                                        <a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#view">
                                            <i data-feather="eye"></i>
                                        </a>
                                    </li>

                                    <li data-bs-toggle="tooltip" data-bs-placement="top" title="مقایسه">
                                        <a href="compare.html">
                                            <i data-feather="refresh-cw"></i>
                                        </a>
                                    </li>

                                    <li data-bs-toggle="tooltip" data-bs-placement="top" title="علاقه‌مندی ها">
                                        <a href="wishlist.html" class="notifi-wishlist">
                                            <i data-feather="heart"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="product-detail position-relative">
                                <a href="product-left-thumbnail.html">
                                    <h6 class="name">
                                        آرد نان و شیرینی تازه 200 گرم
                                    </h6>
                                </a>

                                <h6 class="sold weight text-content fw-normal">1 کیلو گرم</h6>

                                <h6 class="price theme-color">80.000 تومان</h6>

                                <div class="add-to-cart-btn-2 addtocart_btn">
                                    <button class="btn addcart-button btn buy-button">
                                        <i class="fa-solid fa-plus"></i>
                                    </button>
                                    <div class="cart_qty qty-box-2 qty-box-3">
                                        <div class="input-group">
                                            <button type="button" class="qty-left-minus" data-type="minus"
                                                    data-field="">
                                                <i class="fa fa-minus" aria-hidden="true"></i>
                                            </button>
                                            <input class="form-control input-number qty-input" type="text"
                                                   name="quantity" value="0">
                                            <button type="button" class="qty-right-plus" data-type="plus"
                                                    data-field="">
                                                <i class="fa fa-plus" aria-hidden="true"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="product-box product-white-bg wow fadeIn" data-wow-delay="0.1s">
                            <div class="product-image">
                                <a href="product-left-thumbnail.html">
                                    <img src="/siteAssets/images/cake/product/8.png"
                                         class="img-fluid blur-up lazyload" alt="">
                                </a>
                                <ul class="product-option">
                                    <li data-bs-toggle="tooltip" data-bs-placement="top" title="نمایش">
                                        <a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#view">
                                            <i data-feather="eye"></i>
                                        </a>
                                    </li>

                                    <li data-bs-toggle="tooltip" data-bs-placement="top" title="مقایسه">
                                        <a href="compare.html">
                                            <i data-feather="refresh-cw"></i>
                                        </a>
                                    </li>

                                    <li data-bs-toggle="tooltip" data-bs-placement="top" title="علاقه‌مندی ها">
                                        <a href="wishlist.html" class="notifi-wishlist">
                                            <i data-feather="heart"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="product-detail position-relative">
                                <a href="product-left-thumbnail.html">
                                    <h6 class="name">
                                        قالب شکلات قلب سیلیکونی شیری ( بسته 1 عددی )
                                    </h6>
                                </a>

                                <h6 class="sold weight text-content fw-normal">1 کیلو گرم</h6>

                                <h6 class="price theme-color">80.000 تومان</h6>

                                <div class="add-to-cart-btn-2 addtocart_btn">
                                    <button class="btn addcart-button btn buy-button">
                                        <i class="fa-solid fa-plus"></i>
                                    </button>
                                    <div class="cart_qty qty-box-2 qty-box-3">
                                        <div class="input-group">
                                            <button type="button" class="qty-left-minus" data-type="minus"
                                                    data-field="">
                                                <i class="fa fa-minus" aria-hidden="true"></i>
                                            </button>
                                            <input class="form-control input-number qty-input" type="text"
                                                   name="quantity" value="0">
                                            <button type="button" class="qty-right-plus" data-type="plus"
                                                    data-field="">
                                                <i class="fa fa-plus" aria-hidden="true"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="product-box product-white-bg wow fadeIn">
                            <div class="product-image">
                                <a href="product-left-thumbnail.html">
                                    <img src="/siteAssets/images/cake/product/9.png"
                                         class="img-fluid blur-up lazyload" alt="">
                                </a>
                                <ul class="product-option">
                                    <li data-bs-toggle="tooltip" data-bs-placement="top" title="نمایش">
                                        <a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#view">
                                            <i data-feather="eye"></i>
                                        </a>
                                    </li>

                                    <li data-bs-toggle="tooltip" data-bs-placement="top" title="مقایسه">
                                        <a href="compare.html">
                                            <i data-feather="refresh-cw"></i>
                                        </a>
                                    </li>

                                    <li data-bs-toggle="tooltip" data-bs-placement="top" title="علاقه‌مندی ها">
                                        <a href="wishlist.html" class="notifi-wishlist">
                                            <i data-feather="heart"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="product-detail position-relative">
                                <a href="product-left-thumbnail.html">
                                    <h6 class="name">بیسکویت شکلاتی 250 گرم</h6>
                                </a>

                                <h6 class="sold weight text-content fw-normal">1 کیلو گرم</h6>

                                <h6 class="price theme-color">80.000 تومان</h6>

                                <div class="add-to-cart-btn-2 addtocart_btn">
                                    <button class="btn addcart-button btn buy-button">
                                        <i class="fa-solid fa-plus"></i>
                                    </button>
                                    <div class="cart_qty qty-box-2 qty-box-3">
                                        <div class="input-group">
                                            <button type="button" class="qty-left-minus" data-type="minus"
                                                    data-field="">
                                                <i class="fa fa-minus" aria-hidden="true"></i>
                                            </button>
                                            <input class="form-control input-number qty-input" type="text"
                                                   name="quantity" value="0">
                                            <button type="button" class="qty-right-plus" data-type="plus"
                                                    data-field="">
                                                <i class="fa fa-plus" aria-hidden="true"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="product-box product-white-bg wow fadeIn" data-wow-delay="0.1s">
                            <div class="product-image">
                                <a href="product-left-thumbnail.html">
                                    <img src="/siteAssets/images/cake/product/10.png"
                                         class="img-fluid blur-up lazyload" alt="">
                                </a>
                                <ul class="product-option">
                                    <li data-bs-toggle="tooltip" data-bs-placement="top" title="نمایش">
                                        <a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#view">
                                            <i data-feather="eye"></i>
                                        </a>
                                    </li>

                                    <li data-bs-toggle="tooltip" data-bs-placement="top" title="مقایسه">
                                        <a href="compare.html">
                                            <i data-feather="refresh-cw"></i>
                                        </a>
                                    </li>

                                    <li data-bs-toggle="tooltip" data-bs-placement="top" title="علاقه‌مندی ها">
                                        <a href="wishlist.html" class="notifi-wishlist">
                                            <i data-feather="heart"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="product-detail position-relative">
                                <a href="product-left-thumbnail.html">
                                    <h6 class="name">
                                    </h6>
                                </a>

                                <h6 class="sold weight text-content fw-normal">1 کیلو گرم</h6>

                                <h6 class="price theme-color">80.000 تومان</h6>

                                <div class="add-to-cart-btn-2 addtocart_btn">
                                    <button class="btn addcart-button btn buy-button">
                                        <i class="fa-solid fa-plus"></i>
                                    </button>
                                    <div class="cart_qty qty-box-2 qty-box-3">
                                        <div class="input-group">
                                            <button type="button" class="qty-left-minus" data-type="minus"
                                                    data-field="">
                                                <i class="fa fa-minus" aria-hidden="true"></i>
                                            </button>
                                            <input class="form-control input-number qty-input" type="text"
                                                   name="quantity" value="0">
                                            <button type="button" class="qty-right-plus" data-type="plus"
                                                    data-field="">
                                                <i class="fa fa-plus" aria-hidden="true"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="product-box product-white-bg wow fadeIn">
                            <div class="product-image">
                                <a href="product-left-thumbnail.html">
                                    <img src="/siteAssets/images/cake/product/5.png"
                                         class="img-fluid blur-up lazyload" alt="">
                                </a>
                                <ul class="product-option">
                                    <li data-bs-toggle="tooltip" data-bs-placement="top" title="نمایش">
                                        <a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#view">
                                            <i data-feather="eye"></i>
                                        </a>
                                    </li>

                                    <li data-bs-toggle="tooltip" data-bs-placement="top" title="مقایسه">
                                        <a href="compare.html">
                                            <i data-feather="refresh-cw"></i>
                                        </a>
                                    </li>

                                    <li data-bs-toggle="tooltip" data-bs-placement="top" title="علاقه‌مندی ها">
                                        <a href="wishlist.html" class="notifi-wishlist">
                                            <i data-feather="heart"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="product-detail position-relative">
                                <a href="product-left-thumbnail.html">
                                    <h6 class="name">
                                        چیپس سیب زمینی پاشیده چیلی یومیتوس 100 گرم
                                    </h6>
                                </a>

                                <h6 class="sold weight text-content fw-normal">1 کیلو گرم</h6>

                                <h6 class="price theme-color">80.000 تومان</h6>

                                <div class="add-to-cart-btn-2 addtocart_btn">
                                    <button class="btn addcart-button btn buy-button">
                                        <i class="fa-solid fa-plus"></i>
                                    </button>
                                    <div class="cart_qty qty-box-2 qty-box-3">
                                        <div class="input-group">
                                            <button type="button" class="qty-left-minus" data-type="minus"
                                                    data-field="">
                                                <i class="fa fa-minus" aria-hidden="true"></i>
                                            </button>
                                            <input class="form-control input-number qty-input" type="text"
                                                   name="quantity" value="0">
                                            <button type="button" class="qty-right-plus" data-type="plus"
                                                    data-field="">
                                                <i class="fa fa-plus" aria-hidden="true"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="product-box product-white-bg wow fadeIn" data-wow-delay="0.1s">
                            <div class="product-image">
                                <a href="product-left-thumbnail.html">
                                    <img src="/siteAssets/images/cake/product/6.png"
                                         class="img-fluid blur-up lazyload" alt="">
                                </a>
                                <ul class="product-option">
                                    <li data-bs-toggle="tooltip" data-bs-placement="top" title="نمایش">
                                        <a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#view">
                                            <i data-feather="eye"></i>
                                        </a>
                                    </li>

                                    <li data-bs-toggle="tooltip" data-bs-placement="top" title="مقایسه">
                                        <a href="compare.html">
                                            <i data-feather="refresh-cw"></i>
                                        </a>
                                    </li>

                                    <li data-bs-toggle="tooltip" data-bs-placement="top" title="علاقه‌مندی ها">
                                        <a href="wishlist.html" class="notifi-wishlist">
                                            <i data-feather="heart"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="product-detail position-relative">
                                <a href="product-left-thumbnail.html">
                                    <h6 class="name">
                                        کوکی های ترد فانتزی شکلات چیپ
                                    </h6>
                                </a>

                                <h6 class="sold weight text-content fw-normal">1 کیلو گرم</h6>

                                <h6 class="price theme-color">80.000 تومان</h6>

                                <div class="add-to-cart-btn-2 addtocart_btn">
                                    <button class="btn addcart-button btn buy-button">
                                        <i class="fa-solid fa-plus"></i>
                                    </button>
                                    <div class="cart_qty qty-box-2 qty-box-3">
                                        <div class="input-group">
                                            <button type="button" class="qty-left-minus" data-type="minus"
                                                    data-field="">
                                                <i class="fa fa-minus" aria-hidden="true"></i>
                                            </button>
                                            <input class="form-control input-number qty-input" type="text"
                                                   name="quantity" value="0">
                                            <button type="button" class="qty-right-plus" data-type="plus"
                                                    data-field="">
                                                <i class="fa fa-plus" aria-hidden="true"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="title d-block">
                    <h2 class="text-theme font-sm">تازه ترین محصولات</h2>
                    <p>یک دستیار مجازی محصولات را از لیست شما جمع آوری می کند</p>
                </div>

                <div class="row row-cols-xxl-6 row-cols-lg-5 row-cols-md-4 row-cols-sm-3 row-cols-2 g-sm-4 g-3 section-b-space">
                    <div>
                        <div class="product-box product-white-bg wow fadeIn">
                            <div class="product-image">
                                <a href="product-left-thumbnail.html">
                                    <img src="/siteAssets/images/cake/product/1.png"
                                         class="img-fluid blur-up lazyload" alt="">
                                </a>
                                <ul class="product-option">
                                    <li data-bs-toggle="tooltip" data-bs-placement="top" title="نمایش">
                                        <a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#view">
                                            <i data-feather="eye"></i>
                                        </a>
                                    </li>

                                    <li data-bs-toggle="tooltip" data-bs-placement="top" title="مقایسه">
                                        <a href="compare.html">
                                            <i data-feather="refresh-cw"></i>
                                        </a>
                                    </li>

                                    <li data-bs-toggle="tooltip" data-bs-placement="top" title="علاقه‌مندی ها">
                                        <a href="wishlist.html" class="notifi-wishlist">
                                            <i data-feather="heart"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="product-detail position-relative">
                                <a href="product-left-thumbnail.html">
                                    <h6 class="name">
                                        نان سبوس دار کلوچه و تاف 400 گرم
                                    </h6>
                                </a>

                                <h6 class="sold weight text-content fw-normal">1 کیلو گرم</h6>

                                <h6 class="price theme-color">80.000 تومان</h6>

                                <div class="add-to-cart-btn-2 addtocart_btn">
                                    <button class="btn addcart-button btn buy-button">
                                        <i class="fa-solid fa-plus"></i>
                                    </button>
                                    <div class="cart_qty qty-box-2 qty-box-3">
                                        <div class="input-group">
                                            <button type="button" class="qty-left-minus" data-type="minus"
                                                    data-field="">
                                                <i class="fa fa-minus" aria-hidden="true"></i>
                                            </button>
                                            <input class="form-control input-number qty-input" type="text"
                                                   name="quantity" value="0">
                                            <button type="button" class="qty-right-plus" data-type="plus"
                                                    data-field="">
                                                <i class="fa fa-plus" aria-hidden="true"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="product-box product-white-bg wow fadeIn" data-wow-delay="0.1s">
                            <div class="product-image">
                                <a href="product-left-thumbnail.html">
                                    <img src="/siteAssets/images/cake/product/2.png"
                                         class="img-fluid blur-up lazyload" alt="">
                                </a>
                                <ul class="product-option">
                                    <li data-bs-toggle="tooltip" data-bs-placement="top" title="نمایش">
                                        <a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#view">
                                            <i data-feather="eye"></i>
                                        </a>
                                    </li>

                                    <li data-bs-toggle="tooltip" data-bs-placement="top" title="مقایسه">
                                        <a href="compare.html">
                                            <i data-feather="refresh-cw"></i>
                                        </a>
                                    </li>

                                    <li data-bs-toggle="tooltip" data-bs-placement="top" title="علاقه‌مندی ها">
                                        <a href="wishlist.html" class="notifi-wishlist">
                                            <i data-feather="heart"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="product-detail position-relative">
                                <a href="product-left-thumbnail.html">
                                    <h6 class="name">
                                        آرد نان و شیرینی تازه 200 گرم
                                    </h6>
                                </a>

                                <h6 class="sold weight text-content fw-normal">1 کیلو گرم</h6>

                                <h6 class="price theme-color">80.000 تومان</h6>

                                <div class="add-to-cart-btn-2 addtocart_btn">
                                    <button class="btn addcart-button btn buy-button">
                                        <i class="fa-solid fa-plus"></i>
                                    </button>
                                    <div class="cart_qty qty-box-2 qty-box-3">
                                        <div class="input-group">
                                            <button type="button" class="qty-left-minus" data-type="minus"
                                                    data-field="">
                                                <i class="fa fa-minus" aria-hidden="true"></i>
                                            </button>
                                            <input class="form-control input-number qty-input" type="text"
                                                   name="quantity" value="0">
                                            <button type="button" class="qty-right-plus" data-type="plus"
                                                    data-field="">
                                                <i class="fa fa-plus" aria-hidden="true"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="product-box product-white-bg wow fadeIn">
                            <div class="product-image">
                                <a href="product-left-thumbnail.html">
                                    <img src="/siteAssets/images/cake/product/3.png"
                                         class="img-fluid blur-up lazyload" alt="">
                                </a>
                                <ul class="product-option">
                                    <li data-bs-toggle="tooltip" data-bs-placement="top" title="نمایش">
                                        <a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#view">
                                            <i data-feather="eye"></i>
                                        </a>
                                    </li>

                                    <li data-bs-toggle="tooltip" data-bs-placement="top" title="مقایسه">
                                        <a href="compare.html">
                                            <i data-feather="refresh-cw"></i>
                                        </a>
                                    </li>

                                    <li data-bs-toggle="tooltip" data-bs-placement="top" title="علاقه‌مندی ها">
                                        <a href="wishlist.html" class="notifi-wishlist">
                                            <i data-feather="heart"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="product-detail position-relative">
                                <a href="product-left-thumbnail.html">
                                    <h6 class="name">
                                        بیسکویت کره بادام زمینی پرمیوم کره 600 گرم
                                    </h6>
                                </a>

                                <h6 class="sold weight text-content fw-normal">1 کیلو گرم</h6>

                                <h6 class="price theme-color">80.000 تومان</h6>

                                <div class="add-to-cart-btn-2 addtocart_btn">
                                    <button class="btn addcart-button btn buy-button">
                                        <i class="fa-solid fa-plus"></i>
                                    </button>
                                    <div class="cart_qty qty-box-2 qty-box-3">
                                        <div class="input-group">
                                            <button type="button" class="qty-left-minus" data-type="minus"
                                                    data-field="">
                                                <i class="fa fa-minus" aria-hidden="true"></i>
                                            </button>
                                            <input class="form-control input-number qty-input" type="text"
                                                   name="quantity" value="0">
                                            <button type="button" class="qty-right-plus" data-type="plus"
                                                    data-field="">
                                                <i class="fa fa-plus" aria-hidden="true"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div>

                        <div class="product-box product-white-bg wow fadeIn" data-wow-delay="0.1s">
                            <div class="product-image">
                                <a href="product-left-thumbnail.html">
                                    <img src="/siteAssets/images/cake/product/4.png"
                                         class="img-fluid blur-up lazyload" alt="">
                                </a>
                                <ul class="product-option">
                                    <li data-bs-toggle="tooltip" data-bs-placement="top" title="نمایش">
                                        <a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#view">
                                            <i data-feather="eye"></i>
                                        </a>
                                    </li>

                                    <li data-bs-toggle="tooltip" data-bs-placement="top" title="مقایسه">
                                        <a href="compare.html">
                                            <i data-feather="refresh-cw"></i>
                                        </a>
                                    </li>

                                    <li data-bs-toggle="tooltip" data-bs-placement="top" title="علاقه‌مندی ها">
                                        <a href="wishlist.html" class="notifi-wishlist">
                                            <i data-feather="heart"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="product-detail position-relative">
                                <a href="product-left-thumbnail.html">
                                    <h6 class="name">
                                        بسته ترکیبی از جوار استیک و چیپس جوار
                                    </h6>
                                </a>

                                <h6 class="sold weight text-content fw-normal">1 کیلو گرم</h6>

                                <h6 class="price theme-color">80.000 تومان</h6>

                                <div class="add-to-cart-btn-2 addtocart_btn">
                                    <button class="btn addcart-button btn buy-button">
                                        <i class="fa-solid fa-plus"></i>
                                    </button>
                                    <div class="cart_qty qty-box-2 qty-box-3">
                                        <div class="input-group">
                                            <button type="button" class="qty-left-minus" data-type="minus"
                                                    data-field="">
                                                <i class="fa fa-minus" aria-hidden="true"></i>
                                            </button>
                                            <input class="form-control input-number qty-input" type="text"
                                                   name="quantity" value="0">
                                            <button type="button" class="qty-right-plus" data-type="plus"
                                                    data-field="">
                                                <i class="fa fa-plus" aria-hidden="true"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="product-box product-white-bg wow fadeIn">
                            <div class="product-image">
                                <a href="product-left-thumbnail.html">
                                    <img src="/siteAssets/images/cake/product/5.png"
                                         class="img-fluid blur-up lazyload" alt="">
                                </a>
                                <ul class="product-option">
                                    <li data-bs-toggle="tooltip" data-bs-placement="top" title="نمایش">
                                        <a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#view">
                                            <i data-feather="eye"></i>
                                        </a>
                                    </li>

                                    <li data-bs-toggle="tooltip" data-bs-placement="top" title="مقایسه">
                                        <a href="compare.html">
                                            <i data-feather="refresh-cw"></i>
                                        </a>
                                    </li>

                                    <li data-bs-toggle="tooltip" data-bs-placement="top" title="علاقه‌مندی ها">
                                        <a href="wishlist.html" class="notifi-wishlist">
                                            <i data-feather="heart"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="product-detail position-relative">
                                <a href="product-left-thumbnail.html">
                                    <h6 class="name">
                                        چیپس سیب زمینی پاشیده چیلی یومیتوس 100 گرم
                                    </h6>
                                </a>

                                <h6 class="sold weight text-content fw-normal">1 کیلو گرم</h6>

                                <h6 class="price theme-color">80.000 تومان</h6>

                                <div class="add-to-cart-btn-2 addtocart_btn">
                                    <button class="btn addcart-button btn buy-button">
                                        <i class="fa-solid fa-plus"></i>
                                    </button>
                                    <div class="cart_qty qty-box-2 qty-box-3">
                                        <div class="input-group">
                                            <button type="button" class="qty-left-minus" data-type="minus"
                                                    data-field="">
                                                <i class="fa fa-minus" aria-hidden="true"></i>
                                            </button>
                                            <input class="form-control input-number qty-input" type="text"
                                                   name="quantity" value="0">
                                            <button type="button" class="qty-right-plus" data-type="plus"
                                                    data-field="">
                                                <i class="fa fa-plus" aria-hidden="true"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="product-box product-white-bg wow fadeIn" data-wow-delay="0.1s">
                            <div class="product-image">
                                <a href="product-left-thumbnail.html">
                                    <img src="/siteAssets/images/cake/product/6.png"
                                         class="img-fluid blur-up lazyload" alt="">
                                </a>
                                <ul class="product-option">
                                    <li data-bs-toggle="tooltip" data-bs-placement="top" title="نمایش">
                                        <a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#view">
                                            <i data-feather="eye"></i>
                                        </a>
                                    </li>

                                    <li data-bs-toggle="tooltip" data-bs-placement="top" title="مقایسه">
                                        <a href="compare.html">
                                            <i data-feather="refresh-cw"></i>
                                        </a>
                                    </li>

                                    <li data-bs-toggle="tooltip" data-bs-placement="top" title="علاقه‌مندی ها">
                                        <a href="wishlist.html" class="notifi-wishlist">
                                            <i data-feather="heart"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="product-detail position-relative">
                                <a href="product-left-thumbnail.html">
                                    <h6 class="name">
                                        کوکی های ترد فانتزی شکلات چیپ
                                    </h6>
                                </a>

                                <h6 class="sold weight text-content fw-normal">1 کیلو گرم</h6>

                                <h6 class="price theme-color">80.000 تومان</h6>

                                <div class="add-to-cart-btn-2 addtocart_btn">
                                    <button class="btn addcart-button btn buy-button">
                                        <i class="fa-solid fa-plus"></i>
                                    </button>
                                    <div class="cart_qty qty-box-2 qty-box-3">
                                        <div class="input-group">
                                            <button type="button" class="qty-left-minus" data-type="minus"
                                                    data-field="">
                                                <i class="fa fa-minus" aria-hidden="true"></i>
                                            </button>
                                            <input class="form-control input-number qty-input" type="text"
                                                   name="quantity" value="0">
                                            <button type="button" class="qty-right-plus" data-type="plus"
                                                    data-field="">
                                                <i class="fa fa-plus" aria-hidden="true"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="product-box product-white-bg wow fadeIn">
                            <div class="product-image">
                                <a href="product-left-thumbnail.html">
                                    <img src="/siteAssets/images/cake/product/7.png"
                                         class="img-fluid blur-up lazyload" alt="">
                                </a>
                                <ul class="product-option">
                                    <li data-bs-toggle="tooltip" data-bs-placement="top" title="نمایش">
                                        <a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#view">
                                            <i data-feather="eye"></i>
                                        </a>
                                    </li>

                                    <li data-bs-toggle="tooltip" data-bs-placement="top" title="مقایسه">
                                        <a href="compare.html">
                                            <i data-feather="refresh-cw"></i>
                                        </a>
                                    </li>

                                    <li data-bs-toggle="tooltip" data-bs-placement="top" title="علاقه‌مندی ها">
                                        <a href="wishlist.html" class="notifi-wishlist">
                                            <i data-feather="heart"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="product-detail position-relative">
                                <a href="product-left-thumbnail.html">
                                    <h6 class="name">
                                        آرد نان و شیرینی تازه 200 گرم
                                    </h6>
                                </a>

                                <h6 class="sold weight text-content fw-normal">1 کیلو گرم</h6>

                                <h6 class="price theme-color">80.000 تومان</h6>

                                <div class="add-to-cart-btn-2 addtocart_btn">
                                    <button class="btn addcart-button btn buy-button">
                                        <i class="fa-solid fa-plus"></i>
                                    </button>
                                    <div class="cart_qty qty-box-2 qty-box-3">
                                        <div class="input-group">
                                            <button type="button" class="qty-left-minus" data-type="minus"
                                                    data-field="">
                                                <i class="fa fa-minus" aria-hidden="true"></i>
                                            </button>
                                            <input class="form-control input-number qty-input" type="text"
                                                   name="quantity" value="0">
                                            <button type="button" class="qty-right-plus" data-type="plus"
                                                    data-field="">
                                                <i class="fa fa-plus" aria-hidden="true"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="product-box product-white-bg wow fadeIn" data-wow-delay="0.1s">
                            <div class="product-image">
                                <a href="product-left-thumbnail.html">
                                    <img src="/siteAssets/images/cake/product/8.png"
                                         class="img-fluid blur-up lazyload" alt="">
                                </a>
                                <ul class="product-option">
                                    <li data-bs-toggle="tooltip" data-bs-placement="top" title="نمایش">
                                        <a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#view">
                                            <i data-feather="eye"></i>
                                        </a>
                                    </li>

                                    <li data-bs-toggle="tooltip" data-bs-placement="top" title="مقایسه">
                                        <a href="compare.html">
                                            <i data-feather="refresh-cw"></i>
                                        </a>
                                    </li>

                                    <li data-bs-toggle="tooltip" data-bs-placement="top" title="علاقه‌مندی ها">
                                        <a href="wishlist.html" class="notifi-wishlist">
                                            <i data-feather="heart"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="product-detail position-relative">
                                <a href="product-left-thumbnail.html">
                                    <h6 class="name">
                                        قالب شکلات قلب سیلیکونی شیری ( بسته 1 عددی )
                                    </h6>
                                </a>

                                <h6 class="sold weight text-content fw-normal">1 کیلو گرم</h6>

                                <h6 class="price theme-color">80.000 تومان</h6>

                                <div class="add-to-cart-btn-2 addtocart_btn">
                                    <button class="btn addcart-button btn buy-button">
                                        <i class="fa-solid fa-plus"></i>
                                    </button>
                                    <div class="cart_qty qty-box-2 qty-box-3">
                                        <div class="input-group">
                                            <button type="button" class="qty-left-minus" data-type="minus"
                                                    data-field="">
                                                <i class="fa fa-minus" aria-hidden="true"></i>
                                            </button>
                                            <input class="form-control input-number qty-input" type="text"
                                                   name="quantity" value="0">
                                            <button type="button" class="qty-right-plus" data-type="plus"
                                                    data-field="">
                                                <i class="fa fa-plus" aria-hidden="true"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="product-box product-white-bg wow fadeIn">
                            <div class="product-image">
                                <a href="product-left-thumbnail.html">
                                    <img src="/siteAssets/images/cake/product/9.png"
                                         class="img-fluid blur-up lazyload" alt="">
                                </a>
                                <ul class="product-option">
                                    <li data-bs-toggle="tooltip" data-bs-placement="top" title="نمایش">
                                        <a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#view">
                                            <i data-feather="eye"></i>
                                        </a>
                                    </li>

                                    <li data-bs-toggle="tooltip" data-bs-placement="top" title="مقایسه">
                                        <a href="compare.html">
                                            <i data-feather="refresh-cw"></i>
                                        </a>
                                    </li>

                                    <li data-bs-toggle="tooltip" data-bs-placement="top" title="علاقه‌مندی ها">
                                        <a href="wishlist.html" class="notifi-wishlist">
                                            <i data-feather="heart"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="product-detail position-relative">
                                <a href="product-left-thumbnail.html">
                                    <h6 class="name">کیک شکلاتی 1 کیلویی</h6>
                                </a>

                                <h6 class="sold weight text-content fw-normal">1 کیلو گرم</h6>

                                <h6 class="price theme-color">80.000 تومان</h6>

                                <div class="add-to-cart-btn-2 addtocart_btn">
                                    <button class="btn addcart-button btn buy-button">
                                        <i class="fa-solid fa-plus"></i>
                                    </button>
                                    <div class="cart_qty qty-box-2 qty-box-3">
                                        <div class="input-group">
                                            <button type="button" class="qty-left-minus" data-type="minus"
                                                    data-field="">
                                                <i class="fa fa-minus" aria-hidden="true"></i>
                                            </button>
                                            <input class="form-control input-number qty-input" type="text"
                                                   name="quantity" value="0">
                                            <button type="button" class="qty-right-plus" data-type="plus"
                                                    data-field="">
                                                <i class="fa fa-plus" aria-hidden="true"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="product-box product-white-bg wow fadeIn" data-wow-delay="0.1s">
                            <div class="product-image">
                                <a href="product-left-thumbnail.html">
                                    <img src="/siteAssets/images/cake/product/10.png"
                                         class="img-fluid blur-up lazyload" alt="">
                                </a>
                                <ul class="product-option">
                                    <li data-bs-toggle="tooltip" data-bs-placement="top" title="نمایش">
                                        <a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#view">
                                            <i data-feather="eye"></i>
                                        </a>
                                    </li>

                                    <li data-bs-toggle="tooltip" data-bs-placement="top" title="مقایسه">
                                        <a href="compare.html">
                                            <i data-feather="refresh-cw"></i>
                                        </a>
                                    </li>

                                    <li data-bs-toggle="tooltip" data-bs-placement="top" title="علاقه‌مندی ها">
                                        <a href="wishlist.html" class="notifi-wishlist">
                                            <i data-feather="heart"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="product-detail position-relative">
                                <a href="product-left-thumbnail.html">
                                    <h6 class="name">
                                        جا کیک مخصوص تولد و جشن عروسی 100 گرم
                                    </h6>
                                </a>

                                <h6 class="sold weight text-content fw-normal">1 کیلو گرم</h6>

                                <h6 class="price theme-color">80.000 تومان</h6>

                                <div class="add-to-cart-btn-2 addtocart_btn">
                                    <button class="btn addcart-button btn buy-button">
                                        <i class="fa-solid fa-plus"></i>
                                    </button>
                                    <div class="cart_qty qty-box-2 qty-box-3">
                                        <div class="input-group">
                                            <button type="button" class="qty-left-minus" data-type="minus"
                                                    data-field="">
                                                <i class="fa fa-minus" aria-hidden="true"></i>
                                            </button>
                                            <input class="form-control input-number qty-input" type="text"
                                                   name="quantity" value="0">
                                            <button type="button" class="qty-right-plus" data-type="plus"
                                                    data-field="">
                                                <i class="fa fa-plus" aria-hidden="true"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="product-box product-white-bg wow fadeIn">
                            <div class="product-image">
                                <a href="product-left-thumbnail.html">
                                    <img src="/siteAssets/images/cake/product/5.png"
                                         class="img-fluid blur-up lazyload" alt="">
                                </a>
                                <ul class="product-option">
                                    <li data-bs-toggle="tooltip" data-bs-placement="top" title="نمایش">
                                        <a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#view">
                                            <i data-feather="eye"></i>
                                        </a>
                                    </li>

                                    <li data-bs-toggle="tooltip" data-bs-placement="top" title="مقایسه">
                                        <a href="compare.html">
                                            <i data-feather="refresh-cw"></i>
                                        </a>
                                    </li>

                                    <li data-bs-toggle="tooltip" data-bs-placement="top" title="علاقه‌مندی ها">
                                        <a href="wishlist.html" class="notifi-wishlist">
                                            <i data-feather="heart"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="product-detail position-relative">
                                <a href="product-left-thumbnail.html">
                                    <h6 class="name">
                                        چیپس سیب زمینی پاشیده چیلی یومیتوس 100 گرم
                                    </h6>
                                </a>

                                <h6 class="sold weight text-content fw-normal">1 کیلو گرم</h6>

                                <h6 class="price theme-color">80.000 تومان</h6>

                                <div class="add-to-cart-btn-2 addtocart_btn">
                                    <button class="btn addcart-button btn buy-button">
                                        <i class="fa-solid fa-plus"></i>
                                    </button>
                                    <div class="cart_qty qty-box-2 qty-box-3">
                                        <div class="input-group">
                                            <button type="button" class="qty-left-minus" data-type="minus"
                                                    data-field="">
                                                <i class="fa fa-minus" aria-hidden="true"></i>
                                            </button>
                                            <input class="form-control input-number qty-input" type="text"
                                                   name="quantity" value="0">
                                            <button type="button" class="qty-right-plus" data-type="plus"
                                                    data-field="">
                                                <i class="fa fa-plus" aria-hidden="true"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="product-box product-white-bg wow fadeIn" data-wow-delay="0.1s">
                            <div class="product-image">
                                <a href="product-left-thumbnail.html">
                                    <img src="/siteAssets/images/cake/product/6.png"
                                         class="img-fluid blur-up lazyload" alt="">
                                </a>
                                <ul class="product-option">
                                    <li data-bs-toggle="tooltip" data-bs-placement="top" title="نمایش">
                                        <a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#view">
                                            <i data-feather="eye"></i>
                                        </a>
                                    </li>

                                    <li data-bs-toggle="tooltip" data-bs-placement="top" title="مقایسه">
                                        <a href="compare.html">
                                            <i data-feather="refresh-cw"></i>
                                        </a>
                                    </li>

                                    <li data-bs-toggle="tooltip" data-bs-placement="top" title="علاقه‌مندی ها">
                                        <a href="wishlist.html" class="notifi-wishlist">
                                            <i data-feather="heart"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="product-detail position-relative">
                                <a href="product-left-thumbnail.html">
                                    <h6 class="name">
                                        کوکی های ترد فانتزی شکلات چیپ
                                    </h6>
                                </a>

                                <h6 class="sold weight text-content fw-normal">1 کیلو گرم</h6>

                                <h6 class="price theme-color">80.000 تومان</h6>

                                <div class="add-to-cart-btn-2 addtocart_btn">
                                    <button class="btn addcart-button btn buy-button">
                                        <i class="fa-solid fa-plus"></i>
                                    </button>
                                    <div class="cart_qty qty-box-2 qty-box-3">
                                        <div class="input-group">
                                            <button type="button" class="qty-left-minus" data-type="minus"
                                                    data-field="">
                                                <i class="fa fa-minus" aria-hidden="true"></i>
                                            </button>
                                            <input class="form-control input-number qty-input" type="text"
                                                   name="quantity" value="0">
                                            <button type="button" class="qty-right-plus" data-type="plus"
                                                    data-field="">
                                                <i class="fa fa-plus" aria-hidden="true"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Product Section End -->
