@using static OnlineShop.Web.ViewComponents.Handlers.MainSite.MainSite_SectionTitleViewComponent
@model SectionTitleViewModel
<div class="title d-block">
    <h2 class="text-theme font-sm">@Model.Title</h2>
    <p>@Model.Description</p>
</div>
