<div class="section-b-space">
    <div class="row g-md-4 g-3">
        <div class="col-xxl-8 col-xl-12 col-md-7">
            <div class="banner-contain hover-effect">
                <img src="/siteAssets/images/grocery/banner/11.jpg" class="bg-img blur-up lazyload"
                     alt="">
                <div class="banner-details p-center-left p-sm-5 p-4">
                    <div>
                        <h2 class="text-kaushan fw-normal orange-color">آماده شوید</h2>
                        <h3 class="mt-2 mb-3 text-white">نگاهی به روز!</h3>
                        <p class="text-content banner-text text-white opacity-75 d-md-block d-none">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</p>
                        <button onclick="location.href = 'shop-left-sidebar.html';"
                                class="btn btn-animation btn-sm mend-auto">
                            خرید آنلاین <i class="fa-solid fa-arrow-left icon"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xxl-4 col-xl-12 col-md-5">
            <div class="banner-contain hover-effect h-100">
                <img src="/siteAssets/images/grocery/banner/12.jpg" class="bg-img blur-up lazyload"
                     alt="">
                <div class="banner-details p-center-left p-4 h-100">
                    <div>
                        <h2 class="text-kaushan fw-normal orange-color">اورگانیک</h2>
                        <h3 class="mt-2 mb-3">تازه</h3>
                        <p class="text-content banner-text w-100">
                            پیشنهاد فوق العاده تا 50%
                            تخفیف
                        </p>
                        <button onclick="location.href = 'shop-left-sidebar.html';"
                                class="btn btn-animation btn-sm mend-auto">
                            خرید آنلاین <i class="fa-solid fa-arrow-left icon"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>