<div class="sidebar-col">
    <div class="category-menu">
        <a href="index.html" class="web-logo nav-logo">
            <img src="/siteAssets/images/logo/5.png" class="img-fluid blur-up lazyload" alt="">
        </a>
        <ul>
            <li>
                <div class="category-list">
                    <img src="/siteAssets/svg/1/vegetable.svg" class="blur-up lazyload" alt="">
                    <h5>
                        <a href="shop-left-sidebar.html">میوه و سبزیجات</a>
                    </h5>
                </div>
            </li>
            <li>
                <div class="category-list">
                    <img src="/siteAssets/svg/1/cup.svg" class="blur-up lazyload" alt="">
                    <h5>
                        <a href="shop-left-sidebar.html">نوشیدنی ها</a>
                    </h5>
                </div>
            </li>
            <li>
                <div class="category-list">
                    <img src="/siteAssets/svg/1/meats.svg" class="blur-up lazyload" alt="">
                    <h5>
                        <a href="shop-left-sidebar.html">گوشت و غذاهای دریایی</a>
                    </h5>
                </div>
            </li>
            <li>
                <div class="category-list">
                    <img src="/siteAssets/svg/1/breakfast.svg" class="blur-up lazyload" alt="">
                    <h5>
                        <a href="shop-left-sidebar.html">صبحانه و لبنیات</a>
                    </h5>
                </div>
            </li>
            <li>
                <div class="category-list">
                    <img src="/siteAssets/svg/1/frozen.svg" class="blur-up lazyload" alt="">
                    <h5>
                        <a href="shop-left-sidebar.html">غذای یخ زده</a>
                    </h5>
                </div>
            </li>
            <li>
                <div class="category-list">
                    <img src="/siteAssets/svg/1/biscuit.svg" class="blur-up lazyload" alt="">
                    <h5>
                        <a href="shop-left-sidebar.html">بیسکویت و تنقلات</a>
                    </h5>
                </div>
            </li>
            <li>
                <div class="category-list">
                    <img src="/siteAssets/svg/1/grocery.svg" class="blur-up lazyload" alt="">
                    <h5>
                        <a href="shop-left-sidebar.html">مواد غذایی</a>
                    </h5>
                </div>
            </li>
            <li>
                <div class="category-list">
                    <img src="/siteAssets/svg/1/drink.svg" class="blur-up lazyload" alt="">
                    <h5>
                        <a href="shop-left-sidebar.html">نوشیدنی های</a>
                    </h5>
                </div>
            </li>
            <li>
                <div class="category-list">
                    <img src="/siteAssets/svg/1/milk.svg" class="blur-up lazyload" alt="">
                    <h5>
                        <a href="shop-left-sidebar.html">شیر و لبنیات</a>
                    </h5>
                </div>
            </li>
            <li>
                <div class="category-list">
                    <img src="/siteAssets/svg/1/pet.svg" class="blur-up lazyload" alt="">
                    <h5>
                        <a href="shop-left-sidebar.html">غذاهای حیوانات خانگی</a>
                    </h5>
                </div>
            </li>
        </ul>
    </div>
</div>
