<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
    <partial name="Partials/_MetaTag" />
    <partial name="Partials/_Link" />
</head>

<body class="theme-color-4 bg-gradient-color">

    <partial name="Partials/_Header" />
    <!-- Product Section Start -->
    @RenderBody()
    <!-- Product Section End -->
    <partial name="Partials/_Footer" />
    <partial name="Partials/_Modal" />
    <!-- Bg overlay Start -->
    <div class="bg-overlay"></div>
    <!-- Bg overlay End -->
    <partial name="Partials/_Script" />

</body>

</html>